.css-qivjh0-MuiStepLabel-label.Mui-active{
    color: white !important;
    font-size: 1.2rem;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
    color: red !important;
    font-size: 2rem !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
    color: red !important;
}

.css-qivjh0-MuiStepLabel-label.Mui-completed{
    color: white !important;
}
.css-16ubnlw-MuiStepLabel-labelContainer{
    color: gray !important;
    font-size: 1.2rem;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root{
    font-size: 2rem !important;
}


/* heroku */

.css-4ff9q7.Mui-active{
    color: red !important;
    font-size: 2rem !important;
}

.css-4ff9q7{
    color: red !important;
}

.css-1hngkjo{
    color: white !important;
    font-size: 1.2rem;
}

.css-4ff9q7.Mui-completed {
    color: red !important;
}

.css-farnub.Mui-completed{
    color: white !important;
}
.css-farnub.Mui-active{
    color: white !important;
    font-size: 1.2rem;
}